<footer>
    <div class="d-flex justify-content-center" style="margin-top:50px;">
        <p style="text-align: center;">&copy; Khaled@Techolopia.com - Botai<br><a href="/policy">Privacy Policy</a></p>
    </div>
</footer>
</html>