<%- include("header_main") -%> 
  <title>Botai | Page Settings</title>
</head>
<body>
    <div class="container-fluid" style = "width:98%">
        <div class="d-flex justify-content-center" style="margin-top:100px; margin-bottom:15px;">
          <h1>Get Started with Botai</h1>
          </div>
    <h3>What is Botai?</h3>
    <p>Botai is an App that help businesses and individuals create AI-Powered Messenger Chatbots. Botai uses Wit.ai for Natural Language Processing, and it can reply in Messenger to new page comments. You can control your chatbot using one of the following two options.</p>
    <h4>Hosted Options</h4>
    <p>With this option, you can save responses and control how private replies work from Botai dashboard without any coding experience.</p>
    <h4>API Options</h4>
    <p>With this option, Botai will send the messageing and comments feed events to your webhook, and you reply back with the responses.</p>
    <hr>
    
    <h3>How to start:</h3><p>To start using Botai, login with your Facebook account to create account with us. After you login into your account, you can add and link pages using the "Add / Remove Pages" button. Once you successfully linked pages to Botai, you will see "Connect" button below the page name. Click this button and choose how you want to manage the chatbot (Hosted / API).</p>
</body>
<%- include("footer") -%>