<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
	<script src="/popper.js/dist/umd/popper.min.js"></script>
	<script src="/jQuery/dist/jquery.min.js"></script>
	<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/inline.css">
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
	<!-- <meta property="fb:app_id" content="189993795563654" />
	<meta property="og:url" content="https://botai.me" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Botai | Home for AI-Powered Chatbots." />
	<meta property="og:description" content="Create smart Messenger chatbot to manage Facebook pages using APIs or without single code." />
	<meta property="og:image" content="https://botai.me/fb.png" /> -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style = "z-index: 1001;">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="/" style="margin-right: 50px ">
				<img src="/B.png" width="27.8" height="28" alt="" style = "margin-right:5px;"><span style ="position: absolute ;margin-top: 5px ;color: rgb(145, 147, 148); font-family: 'Secular One', sans-serif;">Botai</span>
			</a>
		</nav>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Documentation
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="/get_started" class="dropdown-item">Get Started</a>
						<a href="/host_docs" class="dropdown-item">Botai Host</a>
						<a href="/api_docs" class="dropdown-item">Botai API</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Chatbots
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a href="/customer_service_chatbot" class="dropdown-item">Customer Service Chatbot</a>
						<a href="/appointment_chatbot" class="dropdown-item">Apoointment Chatbot</a>
						<a href="/shopping_chatbot" class="dropdown-item">Shopping Chatbot</a>
					</div>
				</li>
				<div id = "custom_menu">
				</div>
			</ul>
			<div class="btn-group" style="padding-bottom:12px">
				<button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top:10px; margin-right:15px;">
					Change Language
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<button class="dropdown-item" type="button" disabled>French</button>
					<button class="dropdown-item" disabled>Spanish</button>
					<button class="dropdown-item" disabled>Arabic</button>
				</div>
			</div>
		</div>
	</nav>

	<script>
		customMenu()
		async function customMenu(){
			await fetch ('/user_state', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				}
			})
			.then (response => response.json())
			.then (data =>{
				if (data.state === "logged_in"){
					$('#custom_menu').replaceWith(`
					<div id = "custom_menu">
						<li class="nav-item">
							<a class="nav-link" href="/dashboard">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
					</div>
					`)
					$('#main_btn').replaceWith(`
					<div id = "main_btn">
						<button class="btn btn-primary btn-md" style="font-weight:bold; padding: 8px 50px;" onclick="window.location.href='/dashboard'">Go to Dashboard</button>
					<div>
					`)
				} else {
					$('#custom_menu').replaceWith(`
					<div id = "custom_menu">
						<li class="nav-item">
							<a class="nav-link" href="/login">Login/Register</a>
						</li>
					</div>
					`)
					$('#main_btn').replaceWith(`
					<div id = "main_btn">
						<div class="fb-login-button" data-scope= "public_profile, email" data-size="large" onlogin="checkLoginState" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>						</li>
					</div>
					`)
				}
			})
		}
	</script>

<!-- <div class="fb-login-button" data-scope= "public_profile, email" data-size="large" onlogin="checkLoginState" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div> -->
